fastapi
uvicorn
pydantic-settings
google-analytics-data
google-analytics-admin
google-auth
google-auth-oauthlib
google-cloud-firestore
google-genai
aiohttp
pandas
numpy
scipy
python-multipart
python-dateutil
google-cloud-secret-manager
jinja2
xhtml2pdf
reportlab
google-cloud-storage
google-cloud-bigquery
google-cloud-scheduler
firebase-admin

